.logo{
	text-align: center;
	margin: 25px;
}
body{
	background-color: #E2E2E2;
}
nav
{
	background-color: #838383;
	text-align: center;
}
.item
{
	text-transform: uppercase;
	list-style: none;
	display: inline-block;
}
.item a
{
	text-decoration: none;
	color:#FFF;
}
.item a div
{
	padding: 20px;
}
aside{
	float:left;
	height: 100%;
}
section
{
	text-align: center;
}
.panelLateral{
	float: left;
	display: inline-block;
	width: 30%;
	background-color:#aaaaaa;
	text-align: center;
	justify-content: center;
	border: 2px solid transparent;
 	border-radius: 6px;
}
.panelLateral .botonPan{
	width: auto;
	padding: 5px 10px;
	border-bottom: 2px solid ;
}
.panelPrincipal{
	float:right;
	display: inline-block;
	width: 68%;
	background-color:#D2D2D2;
	text-align: center;
	justify-content: center;
	border: 2px solid transparent;
 	border-radius: 6px;
 	
}
.panelPrincipal .titulo
{
	justify-content: center;
	width: fit-content;
	font-size: 28px;
	display: inline-flex;
}
.cajaIngreso{
	background-color:#D2D2D2;
	justify-content: center;
	border: 2px solid transparent;
 	border-radius: 6px;
 	padding: 10px 30px;
}
.cajaIngreso .titulo
{
	width: fit-content;
	font-size: 28px;
	display: inline-flex;
}
.cajaIngreso input{
	margin: 5px;
	text-align: center;
	border: 2px solid transparent;
 	border-radius: 6px;
}

.cajaIngreso .contenFormulario{
	display: inline-block;
	justify-content: center;

}
.cajaIngreso .contenFormulario table{
	margin: 5px;
	text-align: center;
	border: 2;
}
.cajaIngreso .contenFormulario div{
	width: 100%;
	height: 100%;
	display: inline-flex;
}
.cajaCategoria{
	background-color:#F2F2F2;
	justify-content: center;
	border: 2px solid transparent;
 	border-radius: 6px;
}
.cajaCategoria .titulo
{
	width: fit-content;
	font-size: 28px;
	display: inline-flex;
}
.boton{
	background-color: #6acf69;
	width: fit-content;
	padding: 5px 10px;
	border: 2px solid #339b31;
 	border-radius: 6px;
}
.textoBoton{
	text-transform: uppercase;
	text-decoration: none;
	color:#000;
}
.titulo h1{
	border-bottom: 2px solid black;
}
.titulo h2{
	font-size: 20px;
}
.bienvenida h1{
	font-size: 28px;
}
.contenedorBotones{
	width: auto;
	justify-content: center;
	display: block;
}
.contenedorBotones div{
	display: inline-block;
}
.cajaCategoria .categoria
{
	width: auto;
	display: inline-flex;
}
.descripCategoria img{
	width: 200px;
	text-align: center;
	border: 2px solid transparent;
 	border-radius: 6px;
 	max-width: 100%;
	height: auto;
}
.descripCategoria figcaption{
	padding:5px ;
	text-align: center;
	background-color: #a1c353 ;
	border: 2px solid #a1c353;
 	border-radius: 6px;
	text-decoration: none;
	color: #000;

}
.contenedorProductos
{
	background-color:#F2F2F2;
	text-align: center;
	
}
.contenedorProductos .titulo
{
	width: fit-content;
	font-size: 28px;
	display: inline-flex;

}
.contenedorProductos .fonditoProd
{
	background-color:#A4A4A4;
	width: fit-content;
	display: inline-flex;
}
.contenedorProductos article .fotoProd
{
	padding: 4em 0em;
	vertical-align: top;
	display: inline-block;
}
.contenedorProductos article
{
	margin-top: 20px;
}

.fotoProd figcaption
{
	padding:5px ;
	text-align: center;
	background-color: #6acf69 ;
	color: #000;
}
.fotoProd img
{
	width: 200px;
	text-align: center;
}
img
{
	max-width: 100%;
	height: auto;

}
.nomDescProd
{
	width: 700px;
	padding: 2em 0em;
	vertical-align: top;
	display: inline-block;	
}
.nomDescProd h1{
	font-size: 30px;
	border-bottom: solid thin black;

}

.LC a
{
	color: #0BC5D8;

}
.LC p
{
	display: inline;
}

footer
{
	background-color: #959595;
	text-align: center;
}
